.oi
.pio
.vscode
build
venv
sdkconfig
sdkconfig.core
sdkconfig.discrete
sdkconfig.discreteve
sdkconfig.stepper
sdkconfig.stepperve
sdkconfig.mixed
sdkconfig.relaylp
sdkconfig.relayhp
sdkconfig.analogls
sdkconfig.brushless
sdkconfig.dc
sdkconfig.discrete-s2
sdkconfig.stepper-s2
sdkconfig.stepperve-s2
sdkconfig.test
*.old
dependencies.lock
__pycache__