.oi
.pio
.vscode
sdkconfig
sdkconfig.core
sdkconfig.discrete
sdkconfig.discreteve
sdkconfig.stepper
sdkconfig.stepperve
sdkconfig.mixed
sdkconfig.relaylp
sdkconfig.relayhp
sdkconfig.analogls
sdkconfig.brushless
dependencies.lock