image: espressif/idf:v5.5

workflow:
  rules:
    - if: >
        ($CI_PIPELINE_SOURCE == "merge_request_event") && 
        ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main" || 
         $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop")
    - if: '$CI_COMMIT_TAG'

stages:
  - setup
  - build:firmware
  - build:examples
  - build:docs
  - deploy

cache:
  paths:
    - .oi/
    # - build/

setup:
  stage: setup
  script:
    - rm -rf .oi/
    - mkdir -p .oi/bin/oi-firmware-$(cat version.txt)
    - mkdir -p .oi/docs/
    - mkdir -p .oi/lib/
  tags:
    - oi-firmware

.build:bin:
  stage: build:firmware
  needs:
    - job: setup
  script:
    - cp sdkconfig.ci.defaults.${MODULE_TYPE} sdkconfig
    - idf.py reconfigure
    - idf.py build
  after_script:
    - cp build/OI-Firmware.bin .oi/bin/oi-firmware-$(cat version.txt)/${MODULE_TYPE}_firmware-$(cat version.txt).bin
    - cp build/ota_data_initial.bin .oi/bin/oi-firmware-$(cat version.txt)/${MODULE_TYPE}_ota_data_initial-$(cat version.txt).bin
    - cp build/bootloader/bootloader.bin .oi/bin/oi-firmware-$(cat version.txt)/${MODULE_TYPE}_bootloader-$(cat version.txt).bin
    - cp build/partition_table/partition-table.bin .oi/bin/oi-firmware-$(cat version.txt)/${MODULE_TYPE}_partitions-$(cat version.txt).bin
  tags:
    - oi-firmware

build:bin:core:
  extends: .build:bin
  variables:
    MODULE_TYPE: "core"

build:bin:discrete:
  extends: .build:bin
  variables:
    MODULE_TYPE: "discrete"

build:bin:stepper:
  extends: .build:bin
  variables:
    MODULE_TYPE: "stepper"

build:bin:mixed:
  extends: .build:bin
  variables:
    MODULE_TYPE: "mixed"

build:bin:relayhp:
  extends: .build:bin
  variables:
    MODULE_TYPE: "relayhp"

build:bin:relaylp:
  extends: .build:bin
  variables:
    MODULE_TYPE: "relaylp"

build:bin:analogls:
  extends: .build:bin
  variables:
    MODULE_TYPE: "analogls"

build:bin:dc:
  extends: .build:bin
  variables:
    MODULE_TYPE: "dc"

build:examples:library:
  stage: build:examples
  needs:
    - job: setup
  script:
    - ./build_examples.sh components/openindus/examples/
  after_script:
    - git restore main/main.cpp
  tags:
    - oi-firmware

build:examples:docs:
  stage: build:examples
  needs:
    - job: setup
  script:
    - ./build_examples.sh docs/examples/
  after_script:
    - git restore main/main.cpp
  tags:
    - oi-firmware

build:docs:
  stage: build:docs
  needs:
    - job: setup
  before_script:
    - apt update
    - apt install -y doxygen
    - pip3 install -r docs/requirements.txt
  script:
    - cd docs
    - doxygen doxygen/Doxyfile
    - ./build_multiversion.sh "$CI_COMMIT_TAG"
    - cd ..
  after_script:
    - cp -r docs/build/html/. .oi/docs/
  tags:
    - oi-firmware

deploy:bin:
  stage: deploy
  needs:
    - job: build:bin:core
    - job: build:bin:discrete
    - job: build:bin:stepper
    - job: build:bin:mixed
    - job: build:bin:relayhp
    - job: build:bin:relaylp
    - job: build:bin:analogls
    - job: build:bin:dc
  before_script:
    - apt update
    - apt install -y lftp
  script:
    - lftp ${FTP_SERVER} -u ${FTP_USERNAME},${FTP_PASSWORD} -e "set ssl:verify-certificate no; mirror -R ./.oi/bin/ bin/; exit;"
  tags:
    - oi-firmware

deploy:library:
  stage: deploy
  needs:
    - job: build:bin:core
    - job: build:bin:discrete
    - job: build:bin:stepper
    - job: build:bin:mixed
    - job: build:bin:relayhp
    - job: build:bin:relaylp
    - job: build:bin:analogls
    - job: build:bin:dc
    - job: build:examples:library
  before_script:
    - apt update
    - apt install -y lftp
  script:
    - tar -czf .oi/lib/openindus-$(cat version.txt).tar.gz components/openindus/
    - tar -czf .oi/lib/arduino-esp32-$(cat version.txt).tar.gz components/arduino/
    - lftp ${FTP_SERVER} -u ${FTP_USERNAME},${FTP_PASSWORD} -e "set ssl:verify-certificate no; mirror -R ./.oi/lib/ lib/; exit;"
  tags:
    - oi-firmware

deploy:docs:
  stage: deploy
  needs:
    - job: build:docs
    - job: build:examples:docs
  before_script:
    - apt update
    - apt install -y lftp
  script:
    - lftp ${FTP_SERVER} -u ${FTP_USERNAME},${FTP_PASSWORD} -e "set ssl:verify-certificate no; set mirror:parallel-transfer-count 4; mirror -R --only-newer --verbose ./.oi/docs/ doc/; exit;"
  tags:
    - oi-firmware