# Configuration for OI_CORE module
CONFIG_OI_CORE=y
CONFIG_MODULE_MASTER=y
# Parameters to disable if connectivity or cloud features are not needed
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
CONFIG_MQTT_TRANSPORT_WEBSOCKET=y
CONFIG_MQTT_TRANSPORT_WEBSOCKET_SECURE=y
# Disable spi usage during ota update
CONFIG_SPI_FLASH_AUTO_SUSPEND=y