menu "OpenIndus Configuration"

    menu "Stepper motor Configuration"
        choice STEPPER_MODE
            bool "Stepper mode"
            default VOLTAGE_MODE
            help
                powerSTEP01 mode
            config VOLTAGE_MODE
                bool "voltage mode"
            config CURRENT_MODE
                bool "current mode"
        endchoice
    endmenu

endmenu